# .gitignore

# env
.env

# deps
node_modules/
.pnpm-store/

# build output
dist/
build/

# drizzle generated migrations
packages/backend/drizzle/

# vite
*.local

# OS
.DS_Store
Thumbs.db

# logs
*.log
